In [13]:
#1 Pysaprk Filter

In [1]:
import pyspark

In [3]:
from pyspark.sql import SparkSession

In [5]:
spart= SparkSession.builder.appName('Practise').getOrCreate()

In [11]:
data=spart.read.csv('emp.csv',header=True, inferSchema=True)

In [12]:
data.show()

+------+---+---+------+
|  Name|age|exp|Salary|
+------+---+---+------+
|Sachin| 31| 11| 50000|
| Rahul| 34| 16| 60000|
|   Raj| 21|  2| 15000|
|  Kimi| 26|  1| 20000|
|  Paul| 23|  5| 25000|
|Harsha| 39| 13| 45000|
|  Deep| 22|  4| 26000|
|  Anna| 20|  2| 15000|
+------+---+---+------+

### Filter Operation

In [15]:
### Salary less than 20K
data.filter('Salary<=20000').show()

+----+---+---+------+
|Name|age|exp|Salary|
+----+---+---+------+
| Raj| 21|  2| 15000|
|Kimi| 26|  1| 20000|
|Anna| 20|  2| 15000|
+----+---+---+------+

In [16]:
data.filter('Salary<=20000').select(['Name','age']).show()

+----+---+
|Name|age|
+----+---+
| Raj| 21|
|Kimi| 26|
|Anna| 20|
+----+---+

In [18]:
data.filter(data['Salary']<=20000).show()

+----+---+---+------+
|Name|age|exp|Salary|
+----+---+---+------+
| Raj| 21|  2| 15000|
|Kimi| 26|  1| 20000|
|Anna| 20|  2| 15000|
+----+---+---+------+

In [21]:
data.filter((data['Salary']<=20000) & 
           (data['Salary']>15000)).show()

+----+---+---+------+
|Name|age|exp|Salary|
+----+---+---+------+
|Kimi| 26|  1| 20000|
+----+---+---+------+

In [22]:
data.filter(~(data['Salary']<=20000)).show()

+------+---+---+------+
|  Name|age|exp|Salary|
+------+---+---+------+
|Sachin| 31| 11| 50000|
| Rahul| 34| 16| 60000|
|  Paul| 23|  5| 25000|
|Harsha| 39| 13| 45000|
|  Deep| 22|  4| 26000|
+------+---+---+------+