In [1]:
import pyspark

In [3]:
from pyspark.sql import SparkSession

In [4]:
spart = SparkSession.builder.appName('practise').getOrCreate()

In [6]:
data = spart.read.csv('emp.csv',header=True, inferSchema = True)

In [8]:
data.show()

+------+---+---+------+----+
|  Name|age|exp|Salary|dept|
+------+---+---+------+----+
|Sachin| 31| 11| 50000|  hr|
| Rahul| 34| 16| 60000|tech|
|   Raj| 21|  2| 15000|mark|
|  Kimi| 26|  1| 20000|  hr|
|  Paul| 23|  5| 25000|tech|
|Harsha| 39| 13| 45000|tech|
|  Deep| 22|  4| 26000|prod|
|  Anna| 20|  2| 15000|mark|
+------+---+---+------+----+

In [9]:
data.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- exp: integer (nullable = true)
 |-- Salary: integer (nullable = true)
 |-- dept: string (nullable = true)

In [11]:
##Group by op
data.groupBy('dept').sum().show()

+----+--------+--------+-----------+
|dept|sum(age)|sum(exp)|sum(Salary)|
+----+--------+--------+-----------+
|prod|      22|       4|      26000|
|  hr|      57|      12|      70000|
|mark|      41|       4|      30000|
|tech|      96|      34|     130000|
+----+--------+--------+-----------+

In [12]:
data.groupBy('Name').sum().show()

+------+--------+--------+-----------+
|  Name|sum(age)|sum(exp)|sum(Salary)|
+------+--------+--------+-----------+
|  Kimi|      26|       1|      20000|
|  Anna|      20|       2|      15000|
|  Deep|      22|       4|      26000|
| Rahul|      34|      16|      60000|
|   Raj|      21|       2|      15000|
|Harsha|      39|      13|      45000|
|  Paul|      23|       5|      25000|
|Sachin|      31|      11|      50000|
+------+--------+--------+-----------+

In [14]:
data.groupBy('dept').max().show()

+----+--------+--------+-----------+
|dept|max(age)|max(exp)|max(Salary)|
+----+--------+--------+-----------+
|prod|      22|       4|      26000|
|  hr|      31|      11|      50000|
|mark|      21|       2|      15000|
|tech|      39|      16|      60000|
+----+--------+--------+-----------+

In [15]:
data.groupBy('dept').mean().show()

+----+--------+------------------+------------------+
|dept|avg(age)|          avg(exp)|       avg(Salary)|
+----+--------+------------------+------------------+
|prod|    22.0|               4.0|           26000.0|
|  hr|    28.5|               6.0|           35000.0|
|mark|    20.5|               2.0|           15000.0|
|tech|    32.0|11.333333333333334|43333.333333333336|
+----+--------+------------------+------------------+

In [16]:
data.groupBy('dept').count().show()

+----+-----+
|dept|count|
+----+-----+
|prod|    1|
|  hr|    2|
|mark|    2|
|tech|    3|
+----+-----+

In [17]:
##another way 
data.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|     256000|
+-----------+

In [18]:
data.select(['dept','Salary']).groupBy('dept').max().show()

+----+-----------+
|dept|max(Salary)|
+----+-----------+
|prod|      26000|
|  hr|      50000|
|mark|      15000|
|tech|      60000|
+----+-----------+

In [19]:
data.select(['dept','age']).groupBy('dept').max().show()

+----+--------+
|dept|max(age)|
+----+--------+
|prod|      22|
|  hr|      31|
|mark|      21|
|tech|      39|
+----+--------+