In [1]:
import pyspark

In [2]:
from pyspark.sql import SparkSession

In [4]:
spart = SparkSession.builder.appName('practise').getOrCreate()

In [7]:
data=spart.read.csv('emp.csv',header=True,inferSchema=True)

In [8]:
data.show()

+------+----+----+------+
|  Name| age| exp|Salary|
+------+----+----+------+
|Sachin|  31|  11| 50000|
| Rahul|  34|  16| 60000|
|   Raj|  21|   2| 15000|
|  Kimi|  26|   1| 20000|
|  Paul|null|   5| 25000|
|Harsha|  39|  13| 45000|
|  Deep|  22|null|  null|
|  Anna|  20|null| 15000|
|  null|  32|  10| 40000|
|  null|  21|   2| 20000|
+------+----+----+------+

In [9]:
#drop column
data.drop('Name').show()

+----+----+------+
| age| exp|Salary|
+----+----+------+
|  31|  11| 50000|
|  34|  16| 60000|
|  21|   2| 15000|
|  26|   1| 20000|
|null|   5| 25000|
|  39|  13| 45000|
|  22|null|  null|
|  20|null| 15000|
|  32|  10| 40000|
|  21|   2| 20000|
+----+----+------+

In [10]:
data.na.drop().show()

+------+---+---+------+
|  Name|age|exp|Salary|
+------+---+---+------+
|Sachin| 31| 11| 50000|
| Rahul| 34| 16| 60000|
|   Raj| 21|  2| 15000|
|  Kimi| 26|  1| 20000|
|Harsha| 39| 13| 45000|
+------+---+---+------+

In [11]:
### any == how
data.na.drop(how='all').show()

+------+----+----+------+
|  Name| age| exp|Salary|
+------+----+----+------+
|Sachin|  31|  11| 50000|
| Rahul|  34|  16| 60000|
|   Raj|  21|   2| 15000|
|  Kimi|  26|   1| 20000|
|  Paul|null|   5| 25000|
|Harsha|  39|  13| 45000|
|  Deep|  22|null|  null|
|  Anna|  20|null| 15000|
|  null|  32|  10| 40000|
|  null|  21|   2| 20000|
+------+----+----+------+

In [12]:
data.na.drop(how='any').show()

+------+---+---+------+
|  Name|age|exp|Salary|
+------+---+---+------+
|Sachin| 31| 11| 50000|
| Rahul| 34| 16| 60000|
|   Raj| 21|  2| 15000|
|  Kimi| 26|  1| 20000|
|Harsha| 39| 13| 45000|
+------+---+---+------+

In [21]:
###threshold
data.na.drop(how='any',thresh=2).show()

+------+----+----+------+
|  Name| age| exp|Salary|
+------+----+----+------+
|Sachin|  31|  11| 50000|
| Rahul|  34|  16| 60000|
|   Raj|  21|   2| 15000|
|  Kimi|  26|   1| 20000|
|  Paul|null|   5| 25000|
|Harsha|  39|  13| 45000|
|  Deep|  22|null|  null|
|  Anna|  20|null| 15000|
|  null|  32|  10| 40000|
|  null|  21|   2| 20000|
+------+----+----+------+

In [24]:
###Subset
data.na.drop(how='all',subset=['exp']).show()

+------+----+---+------+
|  Name| age|exp|Salary|
+------+----+---+------+
|Sachin|  31| 11| 50000|
| Rahul|  34| 16| 60000|
|   Raj|  21|  2| 15000|
|  Kimi|  26|  1| 20000|
|  Paul|null|  5| 25000|
|Harsha|  39| 13| 45000|
|  null|  32| 10| 40000|
|  null|  21|  2| 20000|
+------+----+---+------+

In [29]:
###fill the missing values
data.na.fill('Missing Values').show()

+--------------+----+----+------+
|          Name| age| exp|Salary|
+--------------+----+----+------+
|        Sachin|  31|  11| 50000|
|         Rahul|  34|  16| 60000|
|           Raj|  21|   2| 15000|
|          Kimi|  26|   1| 20000|
|          Paul|null|   5| 25000|
|        Harsha|  39|  13| 45000|
|          Deep|  22|null|  null|
|          Anna|  20|null| 15000|
|Missing Values|  32|  10| 40000|
|Missing Values|  21|   2| 20000|
+--------------+----+----+------+

In [31]:
data.na.fill('Missing Values',['exp','age']).show()

+------+----+----+------+
|  Name| age| exp|Salary|
+------+----+----+------+
|Sachin|  31|  11| 50000|
| Rahul|  34|  16| 60000|
|   Raj|  21|   2| 15000|
|  Kimi|  26|   1| 20000|
|  Paul|null|   5| 25000|
|Harsha|  39|  13| 45000|
|  Deep|  22|null|  null|
|  Anna|  20|null| 15000|
|  null|  32|  10| 40000|
|  null|  21|   2| 20000|
+------+----+----+------+

In [32]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
inputCols=['age','exp','Salary'],
outputCols=["{}_imputed".format(c) for c in ['age','exp','Salary']]
).setStrategy('mean')

In [33]:
# add imputation cols to df
imputer.fit(data).transform(data).show()

+------+----+----+------+-----------+-----------+--------------+
|  Name| age| exp|Salary|age_imputed|exp_imputed|Salary_imputed|
+------+----+----+------+-----------+-----------+--------------+
|Sachin|  31|  11| 50000|         31|         11|         50000|
| Rahul|  34|  16| 60000|         34|         16|         60000|
|   Raj|  21|   2| 15000|         21|          2|         15000|
|  Kimi|  26|   1| 20000|         26|          1|         20000|
|  Paul|null|   5| 25000|         27|          5|         25000|
|Harsha|  39|  13| 45000|         39|         13|         45000|
|  Deep|  22|null|  null|         22|          7|         32222|
|  Anna|  20|null| 15000|         20|          7|         15000|
|  null|  32|  10| 40000|         32|         10|         40000|
|  null|  21|   2| 20000|         21|          2|         20000|
+------+----+----+------+-----------+-----------+--------------+

In [34]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
inputCols=['age','exp','Salary'],
outputCols=["{}_imputed".format(c) for c in ['age','exp','Salary']]
).setStrategy('median')

In [35]:
imputer.fit(data).transform(data).show()

+------+----+----+------+-----------+-----------+--------------+
|  Name| age| exp|Salary|age_imputed|exp_imputed|Salary_imputed|
+------+----+----+------+-----------+-----------+--------------+
|Sachin|  31|  11| 50000|         31|         11|         50000|
| Rahul|  34|  16| 60000|         34|         16|         60000|
|   Raj|  21|   2| 15000|         21|          2|         15000|
|  Kimi|  26|   1| 20000|         26|          1|         20000|
|  Paul|null|   5| 25000|         26|          5|         25000|
|Harsha|  39|  13| 45000|         39|         13|         45000|
|  Deep|  22|null|  null|         22|          5|         25000|
|  Anna|  20|null| 15000|         20|          5|         15000|
|  null|  32|  10| 40000|         32|         10|         40000|
|  null|  21|   2| 20000|         21|          2|         20000|
+------+----+----+------+-----------+-----------+--------------+